@charset "utf-8";
/* CSS Document */
html {



border: 100px ridge #002501;

background-color: rgba(135, 255, 147, 0.87);


 	
}
body {


background-color: rgba(135, 255, 147, 0.87);



}