@charset "UTF-8";
/* CSS Document */

#main {
  margin: 0 auto;
}

.pure-g {
  padding: 1em;
}

.pure-g > div {
  box-sizing: border-box;
}
.header-box {
  padding: 2em;
  background-color: #ff9a73;
}

.student-box {
  padding: 0.5em;
  border: 1px solid #ff9a73;
  text-align:center;
}

.nav-main {
  background-color: #ff9a73;
  padding: 1em;
}

h1 {
  color: #FFF;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.56);
  font-size: 3em;
}

a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover{
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
