@charset "UTF-8";
/* CSS Document */

body {
    background-color: #f3f2f0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.vinniecar {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
}
