@charset "UTF-8";
body {
    background-color: #30F24E;
    color: #4629FF;
	
	font-family: Impact, Charcoal, sans-serif;
font-size: 20px;
letter-spacing: 6px;
word-spacing: 0.4px;
color: #4629FF;
font-weight: normal;
text-decoration: line-through;
font-style: normal;
font-variant: normal;
text-transform: none;
}
