@charset "UTF-8";
/* CSS Document */

body {background-color: #D7A7A8; border: medium #E2C0C1 solid;}
h1 {text-align: center; color: #E7E2EB;}
h2 {text-align: center; color: #E7E2EB;}
img {border: #E7E2EB thick inset;}
