/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
background: #000000 url(img/static.gif) no-repeat left top;
background-size: cover;
 color: #482482; /*very dark grey - text colour */
  font-family: monospace; /*very basic web-compatible font */
}

header { /*styles for the header section */
  color: #482482;
}

div{
  /*this acts on *all* divs */
  
  font-family: "Raven Scream";
  font-size: 15px;
  width: 500px;
  height: 800px;
  margin: 0 auto; /*centres divs horizontally*/
  padding: 10px;
  color: red;
  text-shadow: 0 0 10px rgba(0,0,0,1.5);
  text-align: center;
}
h1 { /*styling for heading 1 */
font-family: "Hells Kittchen Devil God";
color: red;
font-size: 80px;
letter-spacing: 2px;
text-align: center;
/*text-shadow: 2px 2px red;*/
}

p { /*styles for paragraphs */

}

img { /*styles for images */

}

a { /*styles for hyperlinks */
   /*pink*/
}

footer { /*styles for the footer */
  /*background-color:#161313;*/
  color: #EDE2E2;
  text-align: center;
  font-family: "Valium";
  letter-spacing: 10px;
}
