body {
	background-color: #F0D8E3;
	color: #15221A;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: italic;
	font-weight: bolder;
	font-size: large;
	text-shadow: 0px 0px 8px #B4AAAA;
	border-top-width: thick;
	border-top-style: groove;
	font-variant: normal;
	text-align: justify;
	text-decoration: none;
	text-indent: 17px;
	text-transform: capitalize;
	-webkit-box-shadow: 0px 0px #F3EFD7;
	box-shadow: 0px 0px #F3EFD7;
}
