/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

body {
  background-color: pink; 
	color: deeppink /*This means white! check out hexadecimal colours*/
}

header {
  background-color: #000000;
  color: #FFFFFF;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
}

h1 {
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

p {
  font-family: monospace;
}

img {

}

footer {
  background-color: #000000;
  color: #FFFFFF;
}

#myFirstDiv {
  /* use # to specify elements using their ID*/
}

#imageDiv {

}

#hyperlinkDiv {

}
