body {
  margin: 25px auto;
  height: 100%;
  padding: 25px;
  background-color: white;
  color: black;
  text-align: center
}

section {
  margin: 0 auto;
  text-align: center
}

footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  color: white;
  background-color: black;
}

div.a {
width: 50px;
height:50px;
 background-color:red;
position:fixed;
    
}
