body {
  margin: 0 auto;
  height: 100%;	
  background-color: #292929;

}

header {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 69px;
	text-shadow: 4px 4px #FFFFFF;
	text-align: center;
	color: #292929;
	
}

h1 {
	position: relative;
	top: -100px;
	
}


section {
  margin: 0 auto;
  width: 850px;
}

a {
	color: #292929;
	text-shadow: 1px 1px #FFFFFF;
}

#ithink {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 22px;
	text-shadow: 1px 1px #FFFFFF;
	text-align: center;
	position: relative;
	font-size: 22px;
	color: #292929;
	top: -100px;
}

#fetch {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 22px;
	text-shadow: 1px 1px #FFFFFF;
	text-align: center;
	position: relative;
	font-size: 22px;
	color: #292929;
	top: -30px;
}


#vlog1 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 22px;
	text-shadow: 1px 1px #FFFFFF;
	text-align: center;
	position: relative;
	font-size: 22px;
	color: #292929;
	top: -170px;
}

#vlog {
	position: relative;	
	right: 25px;
	bottom: 140px;
	
}

#flyvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#me1 {
	position: fixed;
	top: 272px;
	left: 500px

}

#me2 {
	position: fixed;
	top: 272px;
	left: 900px;
}

#me3 {
	position: fixed;
	top: 272px;
	left: 1300px;
}

#me4 {
	position: fixed;
	top: 272px;
	left: 1700px;
}


footer {
  position: fixed;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: #1D1D1D;
}