body {
  margin: 0 auto;
  height: 100%;	
  background-color: #292929;

}

header {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 69px;
	text-shadow: 4px 4px #FFFFFF;
	text-align: center;
	color: #292929;
	
}

h1 {
	position: relative;
	top: -100px;
	
}


section {
  margin: 0 auto;
  width: 850px;
}

a {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	position: relative;
	font-size: 22px;
	text-shadow: 1px 1px #000000;
	color: #292929;
	top: -170px;
	
}

#vlog1 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 22px;
	text-shadow: 1px 1px #FFFFFF;
	text-align: center;
}

#vlog {
	position: relative;	
	right: 25px;
	bottom: 140px;
	
}

#flyvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


footer {
  position: fixed;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: #1D1D1D;
}
