<!doctype html>

body/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
  background-color: #DCDCDD; /*grey*/
  color: #292F36; /*very dark grey - text colour */
  font-family: monospace Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

header { /*styles for the header section */
  background-color: #DCDCDD;
  color: #292F36;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
  background-color: #17DFCD/
  padding: 10px;
}

h1 { border-bottom-width: medium

}

p { line-height: normal

}

img { clear: both

}

a { /*styles for hyperlinks */
  color: #262FE7/*pink*/
}

footer { /*styles for the footer */
  background-color: #DCDCDD;
  color: #292F36;
}
