body {
  margin: 15 auto;
  height: 100%;
  background-color: #AACFF4; /* BLUE */
}

section {
  margin: 25 auto;
  width: 850px;
}

#newsection {
	background-colour: #b8fafa;
	color: #0066AB;
    border: 3px solid #0066AB;
}

footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: #FFFFFF;
}

main {
  height: 90vh;
  top: 0;
}
