body {
  margin: 0 auto;
  height: 100%;
  background:linear-gradient(0deg, #90d0fc, #1b9ffc); /* BLUE TO WHITE GRADIENT */
  color: #ffffff;
  text-align: center;
-
}

section {
  margin: 25 auto;
  width: 850px;
  color: #ffffff;
  text-align: center;

}

#newsection {
	background-color: ##FFFFFF;
	color: #ffffff;
    border: 12px ridge rgba(255, 255, 255, 0.45);
    text-align: center;
    margin:auto;
}

footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: ##000000;
  color: #fff48f;
  margin:auto;

}

.myClass {
 text-align: center;
 margin:auto;
justify-content: center;

}

.vlogs {
text-align: center;

}

.footermain {
  margin:auto;
text-align: center;


}
