/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
  background-color: #B5DAB4/
  color: #; /*very dark grey - text colour */
  font-family: monospace; /*very basic web-compatible font */
}

header { /*styles for the header section */
  background-color: #E58848;
  color: #000000;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
  background-color: #b5daba;  /*white*/
  padding: 10px;
}

h1 { /*styling for heading 1 */

}

p { /*styles for paragraphs */

}

img { /*styles for images */

}

a { /*styles for hyperlinks */
  color: #021A35 /*pink*/
}

footer { /*styles for the footer */
  background-color: #B5DABA;
  color: #292F36;
}
