@charset "UTF-8";
body {
  margin: 0 auto;
  height: 100%;
  background-color: lightcyan
}

#table {
padding: 10px;	
  margin-left: 30%;
  width: 18.75cm;
	background-color: aqua
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
	
}

#qrimages {
  margin-left: 38%;
 	
	
}

#zineimage {
  
margin-left: 30%
	
}


#dance{
  margin-left: auto;
margin-right: auto;		
}

#colourimages {
	margin-left: 20%
	
}

	.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
}














footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: lightgoldenrodyellow;
}
/* CSS Document */

