body {
  margin: 0 auto;
  height: 100%;
  background-color: #fd9b90/* pink */
}

section {
  margin: 0 auto;
  width: 850px;
}

footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: #FFFFFF;
}
#archiveindex {
	background-color: #FFF891;
	color: #EF9EAF;
	border: 30px solid #80CDFF;
}
.fancyparagraph {
	font-family: "comic sans ms", cursive, sans-serif;
	color:magenta;
}
