@charset "UTF-8";
body {
    background-color: #F47DF6;
-moz-transform: scale(0.2) skew(-60deg, 39deg);
-webkit-transform: scale(0.2) skew(-60deg, 39deg);
-o-transform: scale(0.2) skew(-60deg, 39deg);
-ms-transform: scale(0.2) skew(-60deg, 39deg);
transform: scale(0.2) skew(-60deg, 39deg);
}
