@charset "UTF-8";
body {
    background-color: #ED05C8;
    color: #131BE9;
	
	-moz-transform: rotate(338deg);
-webkit-transform: rotate(338deg);
-o-transform: rotate(338deg);
-ms-transform: rotate(338deg);
transform: rotate(338deg);
}
