/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

body {
  background: linear-gradient(171deg, rgba(255, 249, 224, 0.37), rgba(252, 149, 224, 1)); /*This means white! check out hexadecimal colours*/
  border: 12px dotted #ffd9e9;
}

header {
  background-color: #ffd9e9;
  color: #FFFFFF;
  resize: vertical;
  overflow: auto
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
}

h1 {
  font-family: serif;
  letter-spacing: 4px;
  text-shadow: 6px 4px 5px rgba(240, 125, 152, 0.51);
}

p {
  font-family: serif;
  line-height: 1.2;
  text-align: justify;
}

img {
  width: 100%
}

footer {
  background-color: #000000;
  color: #FFFFFF;
}

#myFirstDiv {
  /* use # to specify elements using their ID*/
}

#imageDiv {

}

#hyperlinkDiv {

}
