body {
  margin: 150px;
  height: 100%;
  background-color: #E8B8FF; /* white */
}

section {
  margin:0 auto;
  margin-top: 50px;
  width: 500px;
}

#newsection {
  font-family: "Arial", cursive, sans-serif;
	background-color:#fcdef2;
	color: #000000;
	border: 3px groove #AF00FF;
}
header {
    font-family: "Arial", cursive, sans-serif;
    color: : #af00ff;
    width: 500px;
margin-left: 250px;
margin-right: 50px;
margin-bottom: 100px;
padding-bottom: 50px;
    border: 5px groove #AF00FF;


  height: 100px;
  background-color: #ffa6e1

}
footer {
  position: fixed;
  font-family: "Comic Sans MS", cursive, sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 15px;
  background-color: #FFFFFF;
}
