/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
	background-color: #FFFFFF; /*grey*/
	color: #292F36; /*very dark grey - text colour */
	font-family: monospace; /*very basic web-compatible font */
	height: 20cm;
}

header { /*styles for the header section */
	background-color: #FFFFFF;
	color: #292F36;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
  background-color: #FFFFFF;  /*white*/
  padding: 10px;
}

h1 { /*styling for heading 1 */

}

p { /*styles for paragraphs */

}

img { /*styles for images */
	background-color: #FFFFFF;
}

a { /*styles for hyperlinks */
  color: #FF6B6B; /*pink*/
}

footer { /*styles for the footer */
	background-color: #FFFFFF;
	color: #292F36;
}
