body {
  margin: 0 auto;
  height: 100%;
  background-color: #BF84ED;
}
	
	
section {
  margin: 0 auto;
  width: 850px;
}

#funcorner {
	background-color: hotpink;
	colour:blue;
		border: 5px dotted #F9E1FF;
}

footer {
  position: fixed;
  font-family: "Comic Sans MS", cursive, sans-serif;
  bottom: 0;
  width: 100%;
  height: 10vh;
	
	
	
	
	
  padding: 15px;
  background-color: #BF83EC;
}
