
body {
  margin: 0 auto;
  height: 100%;
  background:#000000; /* black */
  color: #fff48f;
  text-align: center;

}

section {
  margin: 25 auto;
  width: 850px;
  color: #fff48f;
  text-align: center;

}

footer {
    position: fixed;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding: 15px;
    background-color: ##000000;
    color: #fff48f;
    margin:auto;

  }

.footerzine {
  background: #000000;
  color: #fff48f;
  Margin:auto;
}

.zine {
text-align:center;
margin:auto;
 color: #fff48f;
 background: #000000

}
