/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
    background-color: #000000; /*grey*/
    color: #171717; /*very dark grey - text colour */
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; /*very basic web-compatible font */
}

header { /*styles for the header section */
  background-color: black;
  color: black;
}

div {
    /*this acts on *all* divs */
    width: 500px;
    margin: 0 auto; /*centres divs horizontally*/
    background-color: transparent;  /*white*/
    padding: 10px;
    height: 1000px;
    -webkit-box-shadow: 0px 0px rgba(0,0,0,0.00);
    box-shadow: 0px 0px rgba(0,0,0,0.00);
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,254,254,0.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,254,254,0.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,254,254,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,254,254,0.00) 100%);
    vertical-align: baseline;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: large;
    color: #000000;
}

h1 { /*styling for heading 1 */
    color: rgba(247,247,247,1.00);
}

p { /*styles for paragraphs */
    font-size: large;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #000000;
    font-variant: small-caps;
    font-style: normal;
    line-height: 0cm;
}

img { /*styles for images */

}

a { /*styles for hyperlinks */
	color: #000000; /*pink*/
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: italic;
	font-weight: 900;
	font-size: large;
	text-decoration: none;
}

footer { /*styles for the footer */
    background-color: rgba(0,0,0,0.00);
    color: rgba(255,255,255,1.00);
    text-align: center;
    text-shadow: 0px 0px #000000;
    -webkit-box-shadow: 0px 0px rgba(15,14,14,1.00);
    box-shadow: 0px 0px rgba(15,14,14,1.00);
}
