/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
  background-color: #1400E2;/*blue*/
  color: #FFFB00;/*acid yellow - text colour */
  font-family: monospace; /*very basic web-compatible font */
}

header { /*styles for the header section */
  background-color: #1400e2;
  color: #fffb00;
}

div {
  /*this acts on *all* divs */
  width: 100px;
  margin: 0 auto; /*centres divs horizontally*/
  background-color: #F8008D;  /*pink*/
  padding: 10px;
}

h1 { /*styling for heading 1 */

}

p { /*styles for paragraphs */

}

img { /*styles for images */

}

a { /*styles for hyperlinks */
  color: #01FB00/*flouro green*/
}

footer { /*styles for the footer */
  background-color: #;
  color: #01fb00;
}
