/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/

body { /*defines styles for the whole page that you can override by changing styles for specific elements */
  background-color: #8D1900/*grey*/
  color: #B8B8B8; /*very dark grey - text colour */
  font-family: courier, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; /*very basic web-compatible font */
}

header { /*styles for the header section */
  background-color: #770000;
  color: #D53232;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
  background-color: #874444/*white*/
  padding: 10px;
}

h1 { /*styling for heading 1 */

}

p { /*styles for paragraphs */

}

img { /*styles for images */

}

a { /*styles for hyperlinks */
  color: #8D1900; /*pink*/
}

footer { /*styles for the footer */
  background-color: #292F36;
  color: #B8B8B8;
}
