body {
  margin: 0 auto;
  height: 100%;
  background-color: #E5B0D9; /* pink */
}

section {
  margin: 0 auto;
  width: 850px;
}

footer {
  position: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  bottom: 0;
  width: 100%;
  height:1vh;
  padding: 0px;
  background-color: #CC9BBB;
}
#coolstuff {
	background-color: #b8fafa;
	color: #0F0A00;
	border: 5px solid #7FA7DB;
}