/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

body {
  background-color: #000000/*This means white! check out hexadecimal colours*/
}

header {
  background-color: #460001;
  color: #641A1B;
}

div {
  /*this acts on *all* divs */
  width: 200px;
  margin: 1 auto; /*centres divs horizontally*/
}

h1 {
  font-family: monospace;
}

p {
  font-family: monospace;
}

img {

}

footer {
  background-color: #000000;
  color: #641A1B;
}

#myFirstDiv {
  /* use # to specify elements using their ID*/
}

#imageDiv {

}

#hyperlinkDiv {

}
