/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

/*

Colours used:
White : #FFFFFF
Gunmetal (almost black): #292F36
Green: #35FF69
Pink: #FF6B6B
Light grey: #DCDCDD

*/
body, html {
  height: 100%;
  margin: 0;
	color: #292F36; /*very dark grey - text colour */
  font-family: monospace;
	background-color: burlywood;

}

	/*very basic web-compatible font */


header { /*styles for the header section */
	font-size: 60pt;
  color: #292F36;
	padding-top: 50px;
	padding-left: 50px;

}

div {
  /*this acts on *all* divs */
  width: 550px;
  margin: 0 auto; /*centres divs horizontally*/
   /*white*/
  padding: 20px;
	padding-bottom: 20px;
}


h1 { font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20pt;
	color: #292F36;
	float: center;
	padding-left: 300px;
	padding-top: 30px;
	/*styling for heading 1 */

}

p { /*styles for paragraphs */

}


img{ /* The image used */
 
}

a { /*styles for hyperlinks */
  color: #FF6B6B; /*pink*/
}

footer { /*styles for the footer */
  background-color: burlywood;
  color: #292F36;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: left;
}


.button {
  padding: 8px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color:white;
  color: black;
 box-shadow: 0 3px #999;
  border: solid;
  border-width: 2px;
  border-radius: 3px;
  font-style: monospace;
	
 
}

.button:hover {background-color: pink}

.button:active {
  background-color: maroon;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}



* {
  box-sizing: border-box;
}

