/*All the basic elements on your page are here, with barely any
  styling. Check out a CSS generator to add cool styles!*/

body {
  background-color: #774EA7;
}

header {
  background-color: #DC67D5;
  color: #814A11;
}

div {
  /*this acts on *all* divs */
  width: 500px;
  margin: 0 auto; /*centres divs horizontally*/
}

h1 {
  font-family: monospace;
}

p {
  font-family: monospace;
}

img {

}

.image-stack__item--top {
      grid-column: 1 / span 8;
      grid-row: 1; // must be on the same row as the other image
      padding-top: 20%; // this pushes the image down, and keeps it proportional as it resizes
      z-index: 1; // make this image render on top of the bottom
    }
      
footer {
  background-color: #000000;
  color: #FFFFFF;
}

#myFirstDiv {
  /* use # to specify elements using their ID*/
}

#imageDiv {

}

#hyperlinkDiv {

}
